<main>
  <section id="section-login">
    <h2>Entre na Game Mania!</h2>
    <div class="row g-3">

      <label for="staticLogin" class="visually-hidden">Login</label>
      <input type="text" class="form-control" id="staticLogin" placeholder="Email">
      <br>
      <label for="inputPassword2" class="visually-hidden">Senha</label>
      <input type="password" class="form-control" id="inputPassword2" placeholder="Senha">
      <br>
      <button type="submit" class="btn btn-primary mb-3" (click)="onLogin()">Login</button>
    </div>
  </section>
</main>