<main>

  <section id="section-banners" class="container-fluid">

    <div id="carouselExampleCaptions" class="carousel slide">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="./assets/img/banner.jpg" class="d-block w-100"
            alt="Game Mania, a loja de gamers que busca a felicidade dos clientes.">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="banner-title">Bem-vindos a Game Mania!</h5>
            <p>Nós priorizamos a satisfação e o bom feedback dos nossos clientes.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/img/banner2.jpg" class="d-block w-100" alt="Os computadores agradam todos os públicos.">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="banner-title">Temos computadores!</h5>
            <p>São para todos os gostos.</p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="./assets/img/banner3.jpg" class="d-block w-100" alt="Temos Nintendo, Playstation, Xbox e muito mais!">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="banner-title">Temos consoles!</h5>
            <p>Desde os mais novos até os retrôs.</p>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Voltar</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
      </button>
    </div>
  </section>

  <h2>Nossos Melhores Jogos!</h2>
  <mat-grid-list cols="3">
    <mat-grid-tile>
      <mat-card class="card">
        <img mat-card-image src="./assets/img/futebol.jpg" alt="Futebol">

        <mat-card-header>
          <mat-card-title>Futebol</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            O melhor jogo de futebol para se divertir com amigos.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 159,99</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/xadrez.jpg" alt="Xadrez">

        <mat-card-header>
          <mat-card-title>Xadrez Online</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            Exige muito racíocinio e pacíencia.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 39,99</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card class="example-card">
        <img mat-card-image src="./assets/img/kart.jpg" alt="Kart">

        <mat-card-header>
          <mat-card-title>Kart</mat-card-title>
        </mat-card-header>

        <mat-card-content>
          <p>
            O melhor jogo de corrida para jogar com amigos.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <p>R$ 199,99</p>
          <button mat-button>Comprar</button>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>









</main>